<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>  <!--log4net if more conifurattable log -->
    <trace autoflush="true"></trace>
    <sources>
      <source name="MainWindow" switchName="switchXaml">
        <listeners>
          <remove name="Default"></remove>
          <add name="console"></add>
          <add name="file"></add>
        </listeners>
      </source>
      <source name="Logics" switchName="switchLogics">
        <listeners>
          <remove name="Default"></remove>
          <add name="console"></add>
          <add name="file"></add>
        </listeners>
      </source>
      <source name="ViewModels" switchName="switchViewModels">
        <listeners>
          <remove name="Default"></remove>
          <add name="console"></add>
          <add name="file"></add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="switchXaml" value="Information"/> 
        <!-- For TraceSwitch, 0,1,2,3, and 4 correspond Off, Error, Warning, Information, and Verbose, respectively
          https://msdn.microsoft.com/en-us/library/t06xyy08(v=vs.110).aspx -->  
      <add name="switchLogics" value="Information"/>
      <add name="switchViewModels" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener" />
      <add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="trace.log"
           traceOutputOptions="DateTime" />  <!-- "Callstack, DateTime, LogicalOperationStack, ProcessId, ThreadId, Timestamp" -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <WpfAppGraph.Properties.Settings>
      <setting name="OpenFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="UserSelectX" serializeAs="String">
        <value>Radius (mm)</value>
      </setting>
      <setting name="UserSelectY" serializeAs="String">
        <value>Angle (deg)</value>
      </setting>
      <setting name="UserSelectValue" serializeAs="String">
        <value>RA (A) Full</value>
      </setting>
      <setting name="UserSelectPercentage" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="Radius" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ZoneRadius" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ZoneAngleDivision" serializeAs="String">
        <value>3</value>
      </setting>
    </WpfAppGraph.Properties.Settings>
  </userSettings>
</configuration>